.calculator {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: black;
}

.calculator__display {
    height: 20%;
}

.calculator__buttons {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.calculator__button {
    width: calc(25% - 2px);
    transition: 0.3s;
    margin: 1px;
}

.calculator__button:hover {
    filter: brightness(125%);
}

.calculator__button:active {
    filter: brightness(75%);
}

.calculator__button--wide {
    display: grid;
    flex-grow: 2;
}

.calculator__button--digit {
    background-color: grey;
    color: white;
}

.calculator__button--operation {
    background-color: orange;
    color: white;
}

.calculator__button--control {
    background-color: lightgrey;
    color: black;
}